@font-face {
    font-family: "Axifor";
    src:
        url("/axi/Axiforma-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Axifor";
    src:
        url("/axi/Axiforma-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Axifor";
    src:
        url("/axi/Axiforma-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: "Axifor";
    src:
        url("/axi/Axiforma-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Axifor";
    src:
        url("/axi/Axiforma-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Axifor";
    src: url("/axi/Axiforma-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: "Axifor";
    src: url("/axi/Axiforma-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}