@font-face {
  font-family: "Octarine";
  src: url("/fonts/OctarineFree/Octarine-Light.otf") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Octarine-Bold";
  src: url("/fonts/OctarineFree/Octarine-Bold.otf") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Gills";
  src: url("/fonts/Gills/GillSansMTPro-Medium.otf") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Gills";
  src: url("/fonts/Gills/GillSansMTPro-Bold.otf") format("woff2");
  font-weight: bold;
}

.gills-font,
p {
  font-family: "Gills", sans-serif !important;
}
a.gills-font {
  font-family: "Gills", sans-serif !important;
}

html {
  scroll-behavior: smooth;
  font-family: "Octarine", sans-serif !important;
}

.text-bold {
  font-family: "Octarine-Bold" !important;
}

h1 {
  font-family: "Octarine", sans-serif !important;
}

h2 {
  font-family: "Octarine", sans-serif !important;
}

h3 {
  font-family: "Octarine", sans-serif !important;
}

h4 {
  font-family: "Octarine", sans-serif !important;
}

h5 {
  font-family: "Octarine", sans-serif !important;
}

h6 {
  font-family: "Octarine", sans-serif !important;
}

p {
  font-family: "Octarine", sans-serif !important;
}

span {
  font-family: "Octarine", sans-serif !important;
}

button {
  font-family: "Octarine", sans-serif !important;
}

input {
  font-family: "Octarine", sans-serif !important;
}

body {
  font-family: "Octarine", sans-serif !important;
}

.bg-black {
  background-color: black !important;
}
.btn-theme {
  background-color: #f4265f !important;
  border-color: #f4265f !important;
}

.headingln {
  line-height: 75px !important;
  letter-spacing: 2px;
}

.tt-2 {
  margin-top: 13px;
  font-size: 32px;
  // line-height: 27px;
}

.shape-banner {
  // background: linear-gradient(45deg, black, #00000000, #0000006b),
  //   url(/img/ejoya/12478.png);
  background: url(/img/ejoya/12478.png);
  background-position: center;
  background-size: cover;
}

.shape-banner2 {
  background: linear-gradient(90deg, #000000, #00000096, transparent),
    url(/img/ejoya/dj-4702977c.png);
  background-position: center;
  background-size: cover;
  background-color: black;
}

.shape-banner-two {
  background: url(/img/ejoya/landingpage.png);
  background-position: center;
  background-size: cover;
}

.mvmusic {
  color: #d5043e;
  font-size: 30px;
  font-weight: bold;
}

.text-sec {
  color: #d5043e !important;
}
.text-black {
  color: black !important;
}

.section-calc {
  color: white;
  background-color: black;
  background-image: url(/img/ejoya/pattern.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat-y: no-repeat;
  padding-bottom: 9rem !important;
}
.startDist {
  color: white;
  background-color: black;
  background: linear-gradient(#000000a1, #000000c4), url(/img/ejoya/3026354.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat-y: no-repeat;
  padding-bottom: 9rem !important;
}
.section-leftt {
  color: white;
  background-color: black;
  background-image: url(/img/ejoya/leftPattern.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat !important;
  padding-bottom: 9rem !important;
}
.section-rightt {
  color: white;
  background-color: black;
  background-image: url(/img/ejoya/rightPattern.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat !important;
  padding-bottom: 9rem !important;
}

.btn-sec {
  background-color: #d5043e !important;
  border-color: #d5043e !important;
}

.freqcount {
  background: #d5053e;
  color: white;
  margin-right: 16px;
  width: 30px;
  text-align: center;
  border-radius: 33px;
  height: 30px;
  line-height: 2;
}

.footer {
  background: #d5043e !important;
  padding: 3.5rem 0 !important;
}

.text-white {
  color: white !important;
}

.btn-icon-only {
  line-height: 8px !important;
}

.modal-body {
  color: black !important;
}

a.btn-icon-only {
  line-height: 2.9 !important;
}

.form-control {
  color: black !important;
}
.dotsleft {
  position: absolute;
  bottom: 70px;
  left: 60px;
}
.dotsright {
  position: absolute;
  bottom: 70px;
  right: 60px;
}
.mv-musicc {
  bottom: 50px;
  position: absolute;
  width: 100%;
  max-width: 100% !important;
}
.ejinput {
  width: 300px !important;
  color: white !important;
  font-size: 16px;
  background: black !important;
  border-color: #e7e7e729 !important;
  &:focus {
    border-color: #e7e7e729 !important;
    color: white !important;
  }
}
.headlnsm {
  font-size: 49px;
  line-height: 55px !important;
}

@media (min-width: 768px) {
  .section-hero {
    // height: 60vh !important;
    height: 615px !important;
  }
  .section-hh {
    height: 710px !important;
  }

  .container-fluid {
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
}
@media only screen and (max-width: 375px) {
  .img-i6 {
    width: 100px !important;
  }
  .mv-musicsm {
    position: relative;
    padding-top: 100px;
  }
  .f-fullsm {
    padding-bottom: 0px !important;
  }
}
@media only screen and (max-width: 600px) {
  .headlnsm {
    font-size: 28px !important;
    line-height: 35px !important;
  }
  .introsm {
    font-size: 18px;
  }
  .dotsleft,
  .dotsright {
    display: none;
  }
  .fminlinesm {
    .form-group {
      width: 100%;
      input {
        width: 100% !important;
        margin-bottom: 16px !important;
      }
      .btn {
        width: 100% !important;
        margin-left: 0px !important;
      }
    }
  }
  .homeheadsm {
    font-size: 49px !important;
    line-height: 1 !important;
  }
  .lnpattern {
    position: absolute !important;
    width: 268% !important;
    left: -32% !important;
    bottom: -19% !important;
  }
  .pr0sm {
    padding-right: 0px important;
  }
  .pl-1sm {
    padding-left: 15px;
  }
  .pb-100sm {
    padding-bottom: 100px;
  }
}

// New Styles
.homeheadsm {
  font-size: 68px;
}
.nvbtn {
  border: 1px solid #d5053e !important;
  background: black !important;
}
.playpreview {
  text-align: center;
  background: url(/img/ejoya/dj-4702977.png);
  background-size: cover;
  cursor: pointer;
  padding: 150px 0px;
}
.lnpattern {
  position: absolute;
  width: 124%;
  left: -100px;
  bottom: -43%;
}
.service-card {
  border: 1px solid #d4053e;
  padding: 45px;
  border-radius: 7px;
  min-height: 365px;
}
.section-testim {
  background: url(/img/ejoya/darkdots.svg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navbar-transparent .navbar-nav .show > .nav-link,
.navbar-transparent .navbar-nav .active > .nav-link,
.navbar-transparent .navbar-nav .nav-link.show,
.navbar-transparent .navbar-nav .nav-link.active {
  color: #d4053e !important;
}

.bg-darkgrey {
  background-color: #0e0e0e;
}

.streamlogos {
  img {
    margin-right: 54px;
    margin-bottom: 24px;
  }
}

.f-16 {
  font-size: 16px !important;
}

.formbgg {
  background: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.192)),
    url(/img/ejoya/bujubg.svg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.dotsleft {
  position: absolute;
  z-index: 9;
  bottom: 60px;
  left: 58px;
}

.dotsright {
  position: absolute;
  z-index: 9;
  bottom: 60px;
  right: 58px;
}

.dropdown-menu {
  background: black !important;
  &.dropdown-menu:before {
    background: black !important;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #3c3c3c;
    color: white;
  }
  a {
    color: white;
  }
}
